.swiperSlide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.Swiper{
    padding-top: 40px;
    padding-bottom: 200px;
}
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 94%);
    width: calc(var(--swiper-navigation-size) / 5 * 36);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-bottom: 10px;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 15px;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 15px;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 15px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}
.text{
    text-align: center;
}